<!-- <%= form_with(model: hoagy, local: true) do |form| %>
  <% if hoagy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hoagy.errors.count, "error") %> prohibited this hoagy from being saved:</h2>

      <ul>
      <% hoagy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hoagieID %>
    <%= form.text_field :hoagieID %>
  </div>

  <div class="field">
    <%= form.label :bread %>
    <%= form.text_field :bread %>
  </div>

  <div class="field">
    <%= form.label :main1 %>
    <%= form.text_field :main1 %>
  </div>

  <div class="field">
    <%= form.label :main2 %>
    <%= form.text_field :main2 %>
  </div>

  <div class="field">
    <%= form.label :veggies1 %>
    <%= form.text_field :veggies1 %>
  </div>

  <div class="field">
    <%= form.label :veggies2 %>
    <%= form.text_field :veggies2 %>
  </div>

  <div class="field">
    <%= form.label :veggies3 %>
    <%= form.text_field :veggies3 %>
  </div>

  <div class="field">
    <%= form.label :veggies4 %>
    <%= form.text_field :veggies4 %>
  </div>

  <div class="field">
    <%= form.label :veggies5 %>
    <%= form.text_field :veggies5 %>
  </div>

  <div class="field">
    <%= form.label :sauce1 %>
    <%= form.text_field :sauce1 %>
  </div>

  <div class="field">
    <%= form.label :sauce2 %>
    <%= form.text_field :sauce2 %>
  </div>

  <div class="field">
    <%= form.label :created %>
    <%= form.date_select :created %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :orderID %>
    <%= form.text_field :orderID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> -->

<%= form_with scope: :hoagies, url: hoagies_path, local: true do |form| %>
  <p>
    <%= form.label :bread %><br>
    <%= form.select :bread, [['White bread','white bread'],['Full grain','full grain'],['Rye','rye']] %>
  </p>

  <p>
    <%= form.label :bread %><br>
    <%= form.select :bread, [['White bread','white bread'],['Full grain','full grain'],['Rye','rye']] %>
  </p>

  <p>
    <%= form.label :main, 'Main Ingredients:' %><br>
    <%= form.select :main1, [['Turkey','turkey'],['Beef','beef'],['Chicken','chicken'],['Cheese','cheese'],['Tuna','tuna'],['Pulled pork','pulled pork'],['Tofu','tofu']] %>
    <%= form.select :main2, [['-','-'],['Turkey','turkey'],['Beef','beef'],['Chicken','chicken'],['Cheese','cheese'],['Tuna','tuna'],['Pulled pork','pulled pork'],['Tofu','tofu']] %>
  </p>

  <p>
    <%= form.label :veggies, 'Choose your veggies:' %><br>
    <%= form.select :veggies1, [['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
    <%= form.select :veggies2, [['-','-'],['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
    <%= form.select :veggies3, [['-','-'],['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
    <%= form.select :veggies4, [['-','-'],['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
    <%= form.select :veggies5, [['-','-'],['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
  </p>

  <p>
    <%= form.label :sauces, 'Choose your sauces:' %><br>
    <%= form.select :sauce1, [['Garlic','garlic'],['Herbs','herbs'],['Ketchup','ketchup']] %>
    <%= form.select :sauce2, [['-','-'],['Garlic','garlic'],['Herbs','herbs'],['Ketchup','ketchup']] %>
  </p>


    <%= form.submit %>
  </p>
<% end %>
