<h1>Create your Hoagy:</h1>

<!-- <%= render 'form', hoagy: @hoagy %> -->
<%= form_with scope: :hoagy, url: hoagies_path, local: true do |form| %>
  <p>
    <%= form.label :bread %><br>
    <%= form.select :bread, [['White bread','white bread'],['Full grain','full grain'],['Rye','rye']] %>
  </p>

  <p>
    <%= form.label :main, 'Main Ingredients:' %><br>
    <%= form.select :main1, [['Turkey','turkey'],['Beef','beef'],['Chicken','chicken'],['Cheese','cheese'],['Tuna','tuna'],['Pulled pork','pulled pork'],['Tofu','tofu']] %>
    <%= form.select :main2, [['-','-'],['Turkey','turkey'],['Beef','beef'],['Chicken','chicken'],['Cheese','cheese'],['Tuna','tuna'],['Pulled pork','pulled pork'],['Tofu','tofu']] %>
  </p>

  <p>
    <%= form.label :veggies, 'Choose your veggies:' %><br>
    <%= form.select :veggies1, [['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
    <%= form.select :veggies2, [['-','-'],['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
    <%= form.select :veggies3, [['-','-'],['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
    <%= form.select :veggies4, [['-','-'],['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
    <%= form.select :veggies5, [['-','-'],['Salad','salad'],['Tomatoes','tomatoes'],['Onions','onions'],['Pickles','pickles'],['Jalapenos','jalapenos'],['Corn','corn']] %>
  </p>

  <p>
    <%= form.label :sauces, 'Choose your sauces:' %><br>
    <%= form.select :sauce1, [['Garlic','garlic'],['Herbs','herbs'],['Ketchup','ketchup']] %>
    <%= form.select :sauce2, [['-','-'],['Garlic','garlic'],['Herbs','herbs'],['Ketchup','ketchup']] %>
  </p>

    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', hoagies_path %>
