<p id="notice"><%= notice %></p>

<p>
  <strong>Hoagieid:</strong>
  <%= @hoagy.id %>
</p>

<p>
  <strong>Bread:</strong>
  <%= @hoagy.bread %>
</p>

<p>
  <strong>Main1:</strong>
  <%= @hoagy.main1 %>
</p>

<p>
  <strong>Main2:</strong>
  <%= @hoagy.main2 %>
</p>

<p>
  <strong>Veggies1:</strong>
  <%= @hoagy.veggies1 %>
</p>

<p>
  <strong>Veggies2:</strong>
  <%= @hoagy.veggies2 %>
</p>

<p>
  <strong>Veggies3:</strong>
  <%= @hoagy.veggies3 %>
</p>

<p>
  <strong>Veggies4:</strong>
  <%= @hoagy.veggies4 %>
</p>

<p>
  <strong>Veggies5:</strong>
  <%= @hoagy.veggies5 %>
</p>

<p>
  <strong>Sauce1:</strong>
  <%= @hoagy.sauce1 %>
</p>

<p>
  <strong>Sauce2:</strong>
  <%= @hoagy.sauce2 %>
</p>

<!-- <p>
  <strong>Created:</strong>
  <%= @hoagy.created %>
</p> -->

<!-- <p>
  <strong>User:</strong>
  <%= @hoagy.user %>
</p> -->


<%= link_to 'Edit', edit_hoagy_path(@hoagy) %> |
<%= link_to 'Back', hoagies_path %>
