<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surName %>
</p>

<p>
  <strong>Adr:</strong>
  <%= @user.adr %>
</p>

<p>
  <strong>Paymethod:</strong>
  <%= @user.payMethod %>
</p>

<p>
  <strong>Id:</strong>
  <%= @user.ID %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
