<p id="notice"><%= notice %></p>

<h1>Veggies</h1>

<table>
  <thead>
    <tr>
      <th>Vid</th>
      <th>Vname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @veggies.each do |veggy| %>
      <tr>
        <td><%= veggy.vID %></td>
        <td><%= veggy.vName %></td>
        <td><%= link_to 'Show', veggy %></td>
        <td><%= link_to 'Edit', edit_veggy_path(veggy) %></td>
        <td><%= link_to 'Destroy', veggy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Veggy', new_veggy_path %>
