<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @adress.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @adress.number %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @adress.postalCode %>
</p>

<p>
  <strong>City:</strong>
  <%= @adress.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @adress.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @adress.phone %>
</p>

<p>
  <strong>Isbillingadress:</strong>
  <%= @adress.isBillingAdress %>
</p>

<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
